# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
#  from http://www.dannygoodayle.com/2013/02/14/using-unity-with-git/

# for some reason, specified files are STILL trying to sync, despite above rules

.DS_Store
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-firstpass-vs.csproj
Assembly-UnityScript-firstpass.csproj
Assembly-UnityScript-vs.csproj
Assembly-UnityScript.csproj
Kaffeeklatsch-csharp.sln
Kaffeeklatsch.sln
